* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

main {
    overflow-x: hidden;
}

h6 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.pointer {
    cursor: pointer;
}

.dropdown-toggle::after {
    color: transparent;
}

img,
div.search-icon-container i.bi-search {
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

div.app-install-icon-container {
    background-color:#FF335A;
    padding: 6px;
    border-radius: 8px;
}

div.app-install-text-container div:first-child {
    font-size: 14px;
    font-weight: 700;
}

div.app-install-text-container div:nth-child(2) {
    font-size: 12px;
}

div.app-install-button-container {
    border-radius: 30px;
    background-color: #32855E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

div.app-install-button-container > p {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
}

section.app-install {
    border-bottom: 1px solid #ddd;
}

div.card {
    border: none;
}

/* Banner */
div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    height: 64px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
}

div.banner > p {
    margin-top: 10px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

/* Navbar */
div.navbar-middle {
    margin-left: 250px;
}

div.navbar-item {
    padding: 8px;
    border-radius: 30px;
}

div.navbar-active {
    font-weight: bold;
    padding: 10px;
}

div.navbar-nonactive {
    border-radius: 30px;
    padding: 10px;
}

div.navbar-nonactive:hover {
    background-color: #e9e9e9;
}

/* Account Container */
div.account-container {
    padding: 8px 15px;
    border: 1px solid #e9e9e9;
    border-radius: 30px;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}

div.account-container:hover {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

/* Dropdown Menu */
ul.dropdown-menu {
    width: 200px;
    border-radius: 15px;
    box-shadow: 1px 20px 20px 3px rgba(0, 0, 0, 0.05), 10px 10px 20px 0 rgba(0, 0, 0, 0.01);
    border: none;
}

/* Search Section */
section.search-section {
    border-bottom: 1px solid rgb(228, 228, 228);
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Search Container */
div.search {
    border: 2px solid #DDDDDD;
    border-radius: 45px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

div.search-container {
    padding: 10px;
    border-radius: 45px;
}

div.search-container:hover {
    background-color: #e6e6e6;
}

div.dove {
    padding-right: 120px;
}

div.dove, div.checkin, div.checkout, div.chi {
    padding-left: 20px;
}

div.checkin, div.checkout {
    padding-right: 30px;
}

div.chi-container {
    padding-right: 70px;
}

/* Search Icon Container */
div.search-icon-container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF335A;
}

div.search-icon-container:hover {
    background-color: #af2941;
}

/* Search Title and Description */
p.search-title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
}

p.search-desc {
    font-size: 16px;
    font-weight: 600;
    color: #747474;
    margin-bottom: 0;
}

section.icon-carousel-list {
    position: sticky;
    top: 90px;
    z-index: 1;
}

/* Icon Container */
p.icon-title {
    font-size: 12px;
}

div.icon-container-active {
    border-bottom: 2px solid black;
}

div.icon-container {
    cursor: pointer;
}

div.icon-container > img {
    opacity: 0.5;
}

div.icon-container:hover {
    border-bottom: 2px solid rgb(117, 117, 117);
}

div.icon-container:hover > img {
    opacity: 1;
}

div.mostra-altro-container > p {
    background-color: #1f1f1f;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
}

div.mostra-altro-container:hover > p {
    background-color: #000000;
}

footer {
    height: 40vh;
    background-color: #F8F8F8;
}

/* Card */
.fa-star {
    display: flex;
    font-size: 13px;
    align-items: center;
    color: #FF335A;
}

.card {
    cursor: pointer;
}

.card-img {
    min-height: 250px;
    max-height: 250px; /* Altezza massima desiderata */
}

.card-img img {
    object-fit: cover;
    width: 100%; /* Assicura che l'immagine si estenda al massimo */
    height: 100%; /* Assicura che l'immagine si estenda al massimo */
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.bi-search {
    color: white;
}

/* Carousel Controls */
#icon-carousel-control-prev,
#icon-carousel-control-next {
    width: 2%;
    display: flex;
    align-items: center;
}

#icon-carousel-control-prev {
    margin-left: -25px;
}

#icon-carousel-control-next {
    margin-right: -25px;
}

#icon-carousel-control-next-icon,
#icon-carousel-control-prev-icon {
    border-radius: 50%;
    border: 1px solid gray;
}

#card-carousel-control-prev-icon:hover,
#card-carousel-control-next-icon:hover {
    border: none;
    background-color: white;
    border-radius: 50%;
}

.carousel-control-next-icon.icon,
.carousel-control-prev-icon.icon {
    height: 25px;
    width: 25px;
    background-size: 50%;
}

.carousel-control-next-icon.icon {
    background-image: url('https://www.svgrepo.com/show/27797/right-arrow.svg');
}

.carousel-control-prev-icon.icon {
    background-image: url('https://www.svgrepo.com/show/91007/left-arrow-chevron.svg');
}

.carousel-control-prev-icon.icon,
.carousel-control-next-icon.icon {
    color: black;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

@media (min-width: 576px) {
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(8.3%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-8.3%);
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}

/* @media (min-width: 768px) and (max-width: 992px) {
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
} */

@media (max-width: 1200px) {
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(16.6666666666%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-16.6666666666%);
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px;
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(8.33%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-8.33%);
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}
