* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#top {
    background-image: url(assets/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p.fs-5 {
    font-size: 10pt!important;
}

h1 {
    font-size: 4.5rem;
}